* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}
body hr {
  color: #191919;
}

.contenedor-body {
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.8fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.error404 {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 480px) {
  .contenedor-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    --bs-gutter-x: 0;
    grid-template-areas: "header" "main" "footer";
  }
}
header {
  margin-bottom: 10.5vh;
}
header .logoCaiman {
  height: 9vh;
  border-radius: 10%;
}
header .barraDeNavegacion {
  background-color: rgb(0, 0, 0);
}
header .tituloCaiman {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 5vh;
  color: red;
  margin-left: 3vw;
}

.main {
  display: grid;
  grid-area: main;
  height: auto;
}
.main .seccion {
  background-color: #ff0000;
  font-size: 5vh;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
  align-items: center;
}
.footer .pie {
  color: #000000;
  align-content: center;
  font-size: 1.8vh;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.footer .logos {
  margin-left: 30px;
  margin-bottom: 10px;
}
.footer .logos .redes-logos {
  width: 3vw;
  height: 5vh;
}

@media (max-width: 480px) {
  .footer {
    color: #ffffff;
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;
  }
  .footer .pie {
    align-content: center;
    font-size: 1.2vh;
    font-family: "Poppins", sans-serif;
  }
  .footer .logos {
    margin-left: 10px;
    margin-bottom: 9px;
  }
  .footer .logos .redes-logos {
    width: 20px;
    height: 20px;
  }
}
main .container-index {
  width: 99vw;
  height: 550vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "foto-principal foto-principal foto-principal foto-principal" "parrafo1 parrafo1 parrafo1 parrafo1" "textopelea1 fotopelea12 fotopelea12 textopelea2" "parrafo2 parrafo2 parrafo2 parrafo2" "fotopelea1 fotopelea2 gif1 gif1" "fotopelea3 fotopelea4 gif1 gif1" "cartelera cartelera cartelera cartelera" "cartelera cartelera cartelera cartelera" "parrafo3 parrafo3 parrafo3 parrafo3" "uno uno dos dos" "tres tres cuatro cuatro" "imagenUFC5 imagenUFC5 imagenUFC5 imagenUFC5";
}
main .foto-principal {
  grid-area: foto-principal;
  background-image: url(../Imagenes/conor-mcgregor-dustin-poirier-ufc-264-07112021_107a23kefd2ko18fhzg0hwhtua.jpg);
  width: 99vw;
  height: 100vh;
}
main .foto-principal .textoVegas {
  color: rgba(255, 255, 255, 0.863);
  font-size: 5vh;
  font-weight: 700;
  text-align: center;
  margin-top: 30vh;
  font-family: "Poppins", sans-serif;
}
main .foto-principal .textoVencedor {
  color: rgba(255, 255, 255, 0.863);
  font-size: 10vh;
  font-weight: 900;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
main .foto-principal .boton-verPelea {
  margin-top: 5vh;
  margin-left: 27vw;
  font-size: 4vh;
  color: #ff0000;
  font-family: "Poppins", sans-serif;
}
main .foto-principal .boton-verCombate {
  margin-top: 5vh;
  font-size: 4vh;
  color: rgb(255, 0, 0);
  font-family: "Poppins", sans-serif;
}
main .fotopelea12 {
  grid-area: fotopelea12;
  justify-self: center;
}
main .fotopelea12 img {
  width: 24vw;
}
main .textopelea1 {
  grid-area: textopelea1;
  justify-self: end;
}
main .textopelea1 .nombre-peleadores {
  margin-top: 8vh;
  font-size: 5vh;
  font-family: "Rubik Wet Paint", cursive;
  color: #191919;
}
main .textopelea2 {
  grid-area: textopelea2;
  justify-self: start;
}
main .textopelea2 .nombre-peleadores {
  margin-top: 8vh;
  font-size: 5vh;
  font-family: "Rubik Wet Paint", cursive;
  color: #191919;
}
main .fotopelea1 {
  grid-area: fotopelea1;
  justify-self: center;
}
main .fotopelea1 img {
  width: 20vw;
  transition: all 0.3s;
}
main .fotopelea1 img:hover {
  transform: scale(1.1);
}
main .fotopelea2 {
  grid-area: fotopelea2;
  justify-self: center;
}
main .fotopelea2 img {
  width: 20vw;
  transition: all 0.3s;
}
main .fotopelea2 img:hover {
  transform: scale(1.1);
}
main .fotopelea3 {
  grid-area: fotopelea3;
  justify-self: center;
  margin-bottom: 2vh;
}
main .fotopelea3 img {
  width: 20vw;
  transition: all 0.3s;
}
main .fotopelea3 img:hover {
  transform: scale(1.1);
}
main .fotopelea4 {
  margin-top: 2vh;
  grid-area: fotopelea4;
  justify-self: center;
}
main .fotopelea4 img {
  width: 20vw;
  transition: all 0.3s;
}
main .fotopelea4 img:hover {
  transform: scale(1.1);
}
main .gif1 {
  grid-area: gif1;
  justify-self: center;
  margin-top: 10vh;
}
main .gif1 img {
  width: 40vw;
  transition: all 0.3s;
}
main .gif1 img:hover {
  transform: scale(1.1);
}
main .parrafo3 {
  grid-area: parrafo3;
  text-align: center;
}
main .parrafo3 p {
  font-size: 4vw;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
main .parrafo2 {
  margin-top: 20vh;
  grid-area: parrafo2;
  text-align: center;
  margin-bottom: 7vh;
}
main .parrafo2 .tendenciasParrafo {
  font-size: 1vw;
  color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
main .parrafo2 .videos-articulos-galeriaParrafo {
  font-size: 4vw;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #191919;
}
main .parrafo1 {
  grid-area: parrafo1;
  height: 6vh;
  width: 70vw;
  margin-left: 15vw;
  text-align: center;
  margin-top: 10vh;
}
main .parrafo1 p {
  font-size: 4vw;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
main .uno {
  grid-area: uno;
  justify-self: center;
}
main .dos {
  grid-area: dos;
  justify-self: center;
}
main .tres {
  grid-area: tres;
  justify-self: center;
}
main .cuatro {
  grid-area: cuatro;
  justify-self: center;
}
main .cartelera {
  display: flex;
  justify-content: space-between;
  grid-area: cartelera;
  background-image: url(../Imagenes/entrada.png);
  height: 35vh;
  width: 99vw;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
main .cartelera img {
  height: 30vh;
  margin-top: 2.5vh;
  margin-right: 2vw;
  transition: all 0.3s;
}
main .cartelera img:hover {
  transform: scale(1.1);
}
main .cartelera P {
  color: white;
  font-size: 5vh;
  font-family: "Poppins", sans-serif;
  margin-left: 10vw;
  margin-top: 8vh;
}
main .imagenUFC5 {
  width: 99vw;
  grid-area: imagenUFC5;
  justify-self: center;
  margin-top: 20vh;
}
main .imagenUFC5 img {
  width: 99vw;
  height: 35vh;
}
main .videos {
  width: 40vw;
  height: 35vh;
}
main .parrafo-video {
  text-align: center;
  width: 40vw;
  color: #191919;
  font-size: 1vw;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.productos1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
}
.productos1 img {
  height: 40vh;
}
.productos1 .productos {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));
}
.productos1 .tituloProducto {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.7vw;
  font-weight: 700;
}
.productos1 .precio {
  color: rgb(3, 35, 141);
  font-size: 1.5vw;
  text-align: center;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1vw;
}
.productos1 .botonComprar {
  margin-left: 5.5vw;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.paginacion {
  margin-top: 10vh;
}

.seccion-nosotros {
  margin: 5vw;
}
.seccion-nosotros .cartas div .div-carta h5 {
  text-align: center;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}
.seccion-nosotros .cartas div .div-carta p {
  font-family: "Poppins", sans-serif;
}

.formulario {
  margin: 10px 0px 10px 0px;
  width: 50vw;
  height: 90vh;
  justify-self: center;
  color: #ff0000;
  background-color: rgb(5, 5, 5);
  border-radius: 5%;
  font-family: "Poppins", sans-serif;
}
.formulario .datos {
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.formulario .botonEnviar {
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
}
.formulario .botonEnviar:hover {
  transform: scale(1.1, 1.1);
}

@media (max-width: 480px) {
  .formulario {
    margin: 10px 0px 10px 0px;
    width: 90vw;
    height: auto;
    justify-self: center;
    color: #ff0000;
    background-color: rgb(5, 5, 5);
    border-radius: 5%;
    font-family: "Poppins", sans-serif;
  }
  .formulario .datos {
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }
  .formulario .botonEnviar {
    margin-left: 35vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    transition: all 0.5s;
    font-family: "Poppins", sans-serif;
  }
  .formulario .botonEnviar:hover {
    transform: scale(1.1, 1.1);
  }
}

/*# sourceMappingURL=estilo.css.map */
