* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../Imagenes/Caiman.png);
}

.contenedor-body {
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.8fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.header {
  height: 15vh;
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}
.header div .logo {
  height: 13vh;
  width: 10vw;
  border-radius: 10%;
  margin-top: 8px;
  margin-left: 20px;
}
.header div .titulo {
  font-size: 10vh;
  margin-top: 10px;
  color: rgba(239, 183, 16, 0.8549019608);
  font-family: "Rubik Wet Paint", cursive;
}
.header .menu .nav-links {
  padding: 5px;
  list-style: none;
  display: flex;
  gap: 10px;
}
.header .menu .nav-links .navbar {
  margin-top: 4vh;
  margin-right: 10px;
  padding: 15px;
  font-size: 80%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  background-color: rgba(239, 183, 16, 0.8549019608);
  border-radius: 10px;
  font-family: "Noto Sans Meroitic", sans-serif;
}
.header .menu .nav-links .navbar:hover {
  color: #ffffff;
}

.main {
  display: grid;
  grid-area: main;
  height: auto;
}
.main .seccion {
  background-color: #efb810;
  font-size: 5vh;
  color: #000000;
  font-family: "Ruwudu", serif;
  font-family: "Satisfy", cursive;
  text-align: center;
}

.footer {
  background-color: black;
  color: #efb810;
  display: grid;
  grid-area: footer;
  justify-items: center;
}
.footer .pie {
  font-size: 2vh;
}

.container-videos {
  margin-left: 4vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 10px;
  grid-template-areas: "uno dos tres" "cuatro cinco seis" "siete ocho nueve";
}
.container-videos .videos {
  border-radius: 2%;
  height: 30vh;
  width: 30vw;
}
.container-videos .parrafo-video {
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.671);
  color: rgb(255, 255, 255);
  width: 60vh;
  text-align: center;
  font-family: "Noto Sans Meroitic", sans-serif;
  font-size: 2.5vh;
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.tres {
  grid-area: tres;
}

.cuatro {
  grid-area: cuatro;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.siete {
  grid-area: siete;
}

.ocho {
  grid-area: ocho;
}

.nueve {
  grid-area: nueve;
}

.container-items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container-items .item {
  width: 20vw;
  border-radius: 5%;
  height: auto;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.9176470588);
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.container-items .item img {
  margin-top: 2vh;
  margin-left: 4vh;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
}
.container-items .item img:hover {
  transform: scale(1.1);
}
.container-items .item .info-product {
  display: grid;
  justify-items: center;
}
.container-items .item .info-product h2 {
  width: 20vw;
  text-align: center;
  color: #ffffff;
}
.container-items .item .info-product .price {
  width: 30vh;
  text-align: center;
  font-size: 30px;
  color: #efb810;
  font-weight: 600;
}
.container-items .item .info-product button {
  height: 7vh;
  width: 10vw;
  border-radius: 5%;
  border: none;
  font-size: 2vh;
  font-weight: 600;
  background-color: #000;
  color: #ffffff;
  margin-bottom: 20px;
}

.seccion-nosotros {
  margin: 5vw;
}
.seccion-nosotros .cartas div .div-carta h5 {
  text-align: center;
  font-size: 4vh;
  color: #efb810;
  font-family: "Noto Sans Meroitic", sans-serif;
}
.seccion-nosotros .cartas div .div-carta p {
  font-family: "Noto Sans Meroitic", sans-serif;
}

.formulario {
  margin: 10px 0px 10px 0px;
  width: 50vw;
  height: 90vh;
  justify-self: center;
  color: #efb810;
  background-color: rgb(5, 5, 5);
  border-radius: 5%;
  font-family: "Noto Sans Meroitic", sans-serif;
}
.formulario .datos {
  text-align: center;
  font-size: 2rem;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.redes .imagen-uno img {
  width: 80px;
  border-radius: 20px;
}
.redes .imagen-dos img {
  width: 80px;
  border-radius: 20px;
}

/*# sourceMappingURL=estilo.css.map */
