* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #fafafa;

    hr {
        color: #191919;
    }

}

.contenedor-body {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr;
    grid-template-rows: 0.4fr 2.3fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

@media (max-width: 480px) {
    .contenedor-body {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        --bs-gutter-x: 0;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}