header{
    margin-bottom: 10.5vh;
.logoCaiman{
    height: 9vh;
    border-radius: 10%;
}
.barraDeNavegacion{
    background-color:$colorFondo ;
}
.tituloCaiman{
    font-family: $tipografiaTitulo;
    font-size: 5vh;
    color: red;
    margin-left: 3vw;
}
}
.main {
    display: grid;
    grid-area: main;
    height: auto;

    .seccion {
        background-color: $colorPrincipal;
        font-size: 5vh;
        color: $colorFondo;
        font-family: $tipografiaParrafos;
        text-align: center;
        font-weight: 500;

    }
}