.productos1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;

    img {
        height: 40vh;
    }

    .productos {
        background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));
    }

    .tituloProducto {
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: $tipografiaParrafos;
        font-size: 1.7vw;
        font-weight: 700;
    }

    .precio {
        color: rgb(3, 35, 141);
        font-size: 1.5vw;
        text-align: center;
        font-weight: 900;
        font-family: $tipografiaParrafos;
        letter-spacing: 0.1vw;
    }

    .botonComprar {
        margin-left: 5.5vw;
        font-weight: 800;
        color: rgb(0, 0, 0);
    }
}

.paginacion {
    margin-top: 10vh;

}