.formulario {
    margin: 10px 0px 10px 0px;
    width: 50vw;
    height: 90vh;
    justify-self: center;
    color: $colorPrincipal;
    background-color: rgb(5, 5, 5);
    border-radius: 5%;
    font-family: $tipografiaParrafos;

    .datos {
        text-align: center;
        font-size: 2rem;
        font-family: $tipografiaParrafos;
    }

    .botonEnviar {
        transition: all 0.5s;
        font-family: $tipografiaParrafos;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}


@media (max-width: 480px) {
    .formulario {
        margin: 10px 0px 10px 0px;
        width: 90vw;
        height: auto;
        justify-self: center;
        color: $colorPrincipal;
        background-color: rgb(5, 5, 5);
        border-radius: 5%;
        font-family: $tipografiaParrafos;

        .datos {
            text-align: center;
            font-size: 2rem;
            font-family: $tipografiaParrafos;
        }

        .botonEnviar {
            margin-left: 35vw;
            margin-bottom: 5vh;
            margin-top: 2vh;
            transition: all 0.5s;
            font-family: $tipografiaParrafos;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }


}