.seccion-nosotros{
    margin: 5vw;
    .cartas{
        div{

            .div-carta{
                h5{
                    text-align: center;
                    font-size: 4vh;
                    color: #efb810;
                    font-family: 'Noto Sans Meroitic', sans-serif;
                }
                p{
                    font-family: 'Noto Sans Meroitic', sans-serif;
                }
            }
        }
    }
}