.containerContacto {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "contacto contacto mapa"
    "contacto contacto mapa"
    "contacto contacto mapa";
}

.contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 2vw;
    color: $colorDetalles;
    font-family: $tipografiaTextos;
    font-weight: 600;
    margin-bottom: 4vh;
  }

  p {
    font-size: 1.7vw;
    color: $colorFondo;
    font-family: $tipografiaTextos ;
  }

  em {
    font-weight: 700;
    font-family: $tipografiaTextos ;
  }

  .formulario {
    width: 30vw;
    font-family: $tipografiaTextos ;

    input {
      font-size: 1.1vw;
      font-family: $tipografiaTextos ;
    }

    label {
      font-size: 1.3vw;
      font-family: $tipografiaTextos ;
      color: $colorFondo;
      font-weight: 700;
    }
  }
}

.mapa {
  grid-area: mapa;
  border: solid $colorDetalles;
  width: 32vw;
  height: 50vh;

}