$tipografiaParrafos: 'Poppins', sans-serif;
$tipografiaTextos: 'Poppins', sans-serif;
$tipografiaTitulo: 'Rubik Wet Paint', cursive;
$colorPrincipal: #000080;
$colorFondo: #0a293d;
$colorDetalles: #f1ad39;
$colorTexto: white;